# Ignore virtual environment
venv/

# Ignore model files (if they can be regenerated)
physician_notetaker_finetuned_model/

# Ignore large files
*.mp4

# Ignore temporary Jupyter Notebook checkpoints
__pycache__/
*.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files and cache
*.log
*.cache
